
<h3 style="display:inline-block">Project list</h3> 
<br/>

<%= link_to 'ใส่ข้อมูลตามแผนขาขึ้น', new_up_path, :class => "new_project" %>
<%= link_to 'ใส่ข้อมูลตามแผนขาลง', new_down_path, :class => "new_project" %>
<% @project2s.each do |p| %>

<% end %>

