<%= form_for(@amphur) do |f| %>
  <% if @amphur.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@amphur.errors.count, "error") %> prohibited this amphur from being saved:</h2>

      <ul>
      <% @amphur.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
