โครงการกิจกรรมเพื่อป้องกันแก้ไขปัญหาอนามัยเจริญพันธุ์และเอดส์ และจำนวนกลุ่มเป้าหมายในปีที่ผ่านมา (2553)
<table cellspacing=0>
<thead>
<tr>
<th>No.</th>
<th>ชื่อโครงการ/กิจกรรม</th>
<th>กลุ่มเป้าหมาย</th>
<th>วิธีจัดกิจกรรม</th>
<th>งบประมาณตามแผน</th>
<th>หน่วยงาน/ผู้รับผิดชอบ</th>
<th>จำนวนกลุ่มเป้าหมายกิจกรรม ตามแผนปี 2553</th>
</tr>
</thead>
<tbody>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
</tbody>
</table>

