<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @sample_product.name %>
</p>


<%= link_to 'แก้ไข', edit_sample_product_path(@sample_product) %> |
<%= link_to 'Back', sample_products_path %>
