<h1>Editing lr45</h1>
<h3>จำนวนกลุ่มเป้าหมายที่ได้รับกิจกรรมป้องกันแก้ไขปัญหาอนามัยเจริญพันธุ์และเอดส์ ในปีที่ผ่านมา(2553) (ผลการดำเนินงานโครงการ)</h3>
<%= render 'form' %>

<%= link_to 'แสดง', @lr45 %> |
<%= link_to 'Back', lr45s_path %>

