<div class="span-7 colborder">
    	<%= image_tag  "pic1.png",:style => "width:300px" %>
    	<%= image_tag  "pic2.png",:style => "width:300px" %>
    	<%= image_tag  "pic3.png",:style => "width:300px" %>

    </div>
    <div class="span-12 ">
    	<h2 style="color:#333">Youth Quality of life and reproductive Health Strategic Management Program (Youth STRAT)</h2>

        <h3 class="thai-sub alt">โปรแกรมจัดการยุทธศาสตร์คุณภาพชีวิตและอนามัยเจริญพันธุ์ของเยาวชน (ยุทธ์เยาวชน)</h3>
        <p>
        โปรแกรมได้รับการพัฒนาขึ้นมา เพื่อสร้างความร่วมมือของหน่วยงานที่มีภารกิจเกี่ยวกับทั้งในด้านการพัฒนาคุณภาพชีวิต การให้บริการทางสุขภาพ และการให้บริการทางสังคมให้สามารถจัดวางแผนงาน โครงการ และกิจกรรมที่เชื่อมโยงภารกิจของทุกภาคส่วนในพื้นที่รับผิดชอบขององค์กรปกครองส่วนท้องถิ่นเข้าด้วยกัน รวมทั้งช่วยให้ผู้ร่วมงานสามารถพัฒนาโครงการและกิจกรรมที่มุงสู่ผลลัพธ์ หรือ แสดงผลสำเร็จร่วมกันของภาคีที่ร่วมปฏิบัติงาน ที่สามารถวัดและประเมินผลได้
        </p>
        <p>
        โปรแกรมนี้จึงมุ่งให้เกิดการเสริมสร้างศักยภาพในการวางนโยบายและยุทธศาสตร์พัฒนาคุณภาพชีวิตของเยาวชนในด้านอนามัยเจริญพันธุ์ ที่เชื่อมโยงกับระบบภูมิศาสตร์สารสนเทศ (GIS) โดยสนับสนุนให้เกิดการสร้างพลังความร่วมมือจากทุกภาคส่วน ให้เข้ามาร่วมกันการวิเคราะห์และวางแผน 3 ปี และให้สามารถจัดทำโครงการรายปีอย่างมีมาตรฐาน ช่วยให้ท้องถิ่นและภาคีร่วมปฏิบัติงานผนึกพลังทรัพยากร ได้แก่ คน งบประมาณ เทคโนโลยี ความรู้ รวมทั้งใช้เป็นเครื่องมือในการติดตาม กำกับงาน และประเมินผลภายในได้อย่างเป็นระบบ และทันเวลาที่ปฏิบัติงานจริงในพื้นที่ ช่วยสะท้อนให้รับรู้หลักฐานแสดงผลสัมฤทธิ์ของการใช้งบประมาณอย่างรวดเร็ว
        </p>
    </div>
    <div class="span-4 last">
	<%= render "layouts/left_nav" %>
    </div>