<h3>การทำงานของโปรแกรม</h3>
<!--
<table>
<tr>
<th style="min-width:350px">Input</th><th style="min-width:200px">Output</th>
</tr>
<tr>
<td>
ใส่ข้อมูลจำนวนเยาวชน(12-24 ปี) สถานการณ์ปัญหา และโครงการกิจกรรมที่มีการดำเนินงานในปีที่ผ่านมา
<ol>
<li><a href="/site/forms">ในสถานศึกษา,สถานประกอบการ และชุมชุน</a></li>
<li><a href="/lr14s">ในกลุ่มประชากรเฉพาะต่างๆ ในชุมชนที่มีความเสี่ยงต่อปัญหาเอดส์และอนามัยเจริญพันธุ์</a></li>
<li><a href="/lr20s">ปัญหาเชิงพฤติกรรมในพื้นที่</a></li>

</ol>
</td>
<td>
</td>
</tr>
<tr>
<td>ใส่ข้อมูลเกี่ยวกับโครงการ/กิจกรรมป้องกันแก้ไขปัญหาอนามัยเจริญพันธุ์และเอดส์ในกลุ่มเยาวชนในปีที่ผ่านมา (2533) โดยใส่ข้อมูลแผนก่อน แล้วใส่ข้อมูลผลการดำเนินงาน
<ol>
<li><a href="/lr40s">โครงการกิจกรรมเพื่อการป้องกันแก้ไขปัญหาอนามัยเจริญพันธุ์และเอดส์ และจำนวนกลุ่มเป้าหมาย</a></li>
<li><a href="/lr45s">จำนวนกลุ่มเป้าหมายที่ได้รับกิจกรรมป้องกันแก้ไขปัญหาอนามัยเจริญพันธุ์และเอดส์ </a></li>
<li><a href="/lr46s">จำนวนกลุ่มเป้าหมายที่บริการสุขภาพสังคมที่เกี่ยวข้อง</a></li>
</ol>
</td>
<td>
<a href="/summary">ข้อมูลระหว่างจำนวนเยาวชนตามพื้นที่ภารกิจ กับจำนวนเยาวชนที่เป็นกลุ่มเป้าหมายที่มุ่งให้ได้รับความรุ้และข้อมูลข่าวสาร</a>
</td>
</tr>

<tr>
<td>
ใส่ข้อมูลโครงการกิจกรรมที่คิดว่าน่าจะต้องมีการดำเนินงาน ปี 2554-2556
<ol>
<li><a href="/lr402s">โครงการกิจกรรมที่คิดว่าควรมีการดำเนินงานเพื่อป้องกันแก้ไขปัญหา</a></li>
<li><a href="/lr50s">จำนวนเยาวชนรับบริการสุขภาพสังคมโดยประมาณ</a></li>
</ol>
</td>
<td></td>
</tr>
<tr>
<td>
เริ่มพิจารณาความเป็นไปได้ในการจัดโครงการ โดยประมาณการและประเมินทรัพยากรบุคคลที่ต้องใช้ในการดำเนินงานโครงการในแต่ละปี(2554-2556) จะเป็นการนำโครงการกิจกรรมที่คิดไว้เบื้องต้นมาลงรายละเอียด ซึ่งอาจทำให้จำนวนกลุ่มเป้าหมายโครงการเปลี่ยนแปลงไป
<ol>
<li>โครงการกิจกรรม จำนวนกลุ่มเป้าหมาย ประมาณการและประเมินทรัพยากรบุคคลที่ต้องใช้ในการดำเนินงานโครงการ
  <ul>
  <li><a href="/lr60s">ปี 2554</a></li>
  <li><a href="/lr602555s">ปี 2555</a></li>
  <li><a href="/lr602556s">ปี 2556</a></li>
  </ul>
</li>
</ol>
</td>
<td>
<ul>
<li><a href="/outputs/o1">ทีมงานที่จะต้องใช้ในสามปี เพื่อประกอบการวางแผนพัฒนาทีมงาน</a></li>
<li><a href="/outputs/o2">จำนวนทีมงานที่ต้องใช้</a></li>
<li><a href="/outputs/o3">จำนวนทีมงานที่มีแผนพัฒนาสมรรถนะ</a></li>
</ul>

</td>
</tr>
<tr>
<td>ใส่จำนวนงบประมาณสำหรับการจัดโครงการกิจกรรมสำหรับแต่ละปี (ปี 2554-2556)
<ol>
<li>งบประมาณสำหรับโครงการและการพัฒนาสมรรถนะสำหรับแผนขาขึ้นในสามปีข้างหน้า
<ul>
<li><a href="/lb402554s">ปี 2554</a></li>
<li><a href="/lb402555s">ปี 2555</a></li>
<li><a href="/lb402556s">ปี 2556</a></li>
</ul>
</li>
</ol>
</td>
<td></td>
</tr>

<tr>
<td>ใส่จำนวนงบประมาณที่ได้รับการอนุมัติ กลุ่มจำนวนกลุ่มเป้าหมายโครงการที่อาจมีการเปลี่ยนแปลงให้เหมาะสมกับงบประมาณที่จะได้รับ ตลอดจนจำนวนทีมงานที่วางแผนจะพัฒนาสมรรถนะ
<ol>
<li><a href="/lr65s">โครงการและงบประมาณที่ได้รับ จำนวนกลุ่มเป้าหมาย (ปี 2554)</a></li>
<li><a href="/lb30s">จำนวนทีมงานที่วางแผนพัฒนาสมรรถนะในปี 2554 (ตามงบประมาณที่ได้รับ)</a></li>
</ol>
</td>
<td></td>
</tr>
<tr>
<td>เมื่อสิ้นสุดแต่ละไตรมาส ใส่ผลการดำเนินงาน จำนวนทีมงานที่ได้รับการพัฒนาสมรรถนะ จำนวนกลุ่มเป้าหมายที่ได้รับกิจกรรมที่เป็นผลการดำเนินงาน
<ol>
<li><a href="/lb40s">จำนวนทีมงานที่ได้รับการพัฒนาสมรรถนะ ปี 2554</a></li>
<li><a href="/lr70s">ผลการดำเนินงาน จำนวนกลุ่มเป้าหมายที่ได้รับกิจกรรมป้องกันแก้ไขปัญหาอนามัยเจริญพันธุ์และเอดส์ ในปี 2554</a></li>
<li><a href="/lr75s">จำนวนเยาวชนรับบริการสุขภาพสังคม</a></li>
</ol>

</td>
<td>
<ul>
<li><a href="/outputs/o4">Report 1</a></li>
<li><a href="/outputs/o5">Report 2</a></li>
</td>
</tr>
<tr>
<td>
ใส่ข้อมูลเพิ่มเติม เพื่อแสดงรายละเอียดความครอบคลุมในการดำเนินงาน
<ol>
<li><a href="#">ความครอบคลุมในการจัดกิจกรรมให้ความรู้และข้อมูลข่าวสารเพื่อการปรับเปลี่ยนพฤติกรรมในสถานศึกษา</a></li>
<li><a href="#">ความก้าวหน้าในการดำเนินงานทั้งสามด้าน กรอกข้อมูลเมื่อสิ้นปี 2554</a></li>
</ol>
</td>
<td>
<a href="#">gauge chart</a>
</td>
</tr>
</table>-->

<%= image_tag "process.jpg" %>

