<h1>Listing provinces</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @provinces.each do |province| %>
  <tr>
    <td><%= link_to 'แสดง', province %></td>
    <td><%= link_to 'แก้ไข', edit_province_path(province) %></td>
    <td><%= link_to 'ลบ', province, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Province', new_province_path %>
