<table>
<tr>
<th>บริการสุขภาพสังคม</th>
<th>จำนวนเยาวชนที่ได้รับบริการปี 2554</th>
<th>อัตราส่วนร้อยละที่ได้รับกิจกรรมเทียบกับแผน</th>
<th>อัตราส่วนร้อยละที่ได้รับกิจกรรมเทียบกับจำนวนในพื้นที่</th>
</tr>
<tr>
<%
edu = current_user.lr70s.where("target_name = 'edu'")
place = current_user.lr70s.where("target_name = 'place'")
social = current_user.lr70s.where("target_name = 'social'")
lr402 = current_user.lr402s
edu_t = lr402.where("target_name='edu'").sum(:target1_no)
place_t = lr402.where("target_name='place'").sum(:target1_no)
soc_t = lr402.where("target_name='social'").sum(:target1_no)

st = current_user.lr11s.sum(:female_no) + current_user.lr11s.sum(:male_no)
pt = current_user.lr12s.sum(:youth_no)
soct = current_user.lr13s.sum(:youth_no)

%>
<% current_user.lr75s.each do |l| %>
<tr>
<td><%= l.service_name %></td><td><%= qt = l.q1 + l.q2 + l.q3 + l.q4 %></td><td><%= qt * 100.0 / current_user.lr50s.find_by_health_service(l.service_name).youth_2554%></td><td><%= qt * 100.0 / (st+pt+soct) %></td>
</tr>
<% end %>

</table>

